<!--package section-->
<!--<h3 class="package-heading">Packages</h3>-->
<!--<p style="margin:2px 0px 2px;">Kindly Select a Package</p>-->
<div class="package-section">
  <div class="package" routerLink="airtime">
    <h1><i class="fa fa-mobile"></i></h1>
    <p>Airtime</p>
  </div>
  <div class="package" routerLink="data">
    <h1><i class="fa fa-globe"></i></h1>
    <p>Data</p>
  </div>
  <div class="package coming-soon">
    <h1><i class="fa fa-flash"></i></h1>
    <p>Electricity</p>
  </div>
  <div class="package coming-soon">
    <h1><i class="fa fa-television"></i></h1>
    <p>Cable TV</p>
  </div>
</div>
