<div class="package-card">
  <div class="loader" *ngIf="false"><span class="fa fa-spinner icon-loader"></span></div>
  <header style="font-weight:700;">
    <a [routerLink]="'..'" class="back-btn"><i class="fa fa-arrow-left"></i><span>back to Home</span></a>
    <span>{{category?.categoryName}}  {{sharedService.prettifyString(chosenService?.serviceName ? ' - ' + chosenService.serviceName : '')}}</span>
  </header>
  <div>
<!--    <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>-->
  </div>
  <div class="content-area">
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-xl-3">

        </div>
        <div class="col-xl-6 col-sm-12">
          <div class="widget-content">

            <!--recharge block -->
            <div class="widget-content-block recharge">
                <mat-form-field class="d-block">
                  <mat-select placeholder="Pick a service" required
                              [(ngModel)]="chosenServiceId" (ngModelChange)="setService()" style="width:100%;">
                      <mat-option *ngFor="let service of category?.serviceResponses" [value]="service.id">
                          {{sharedService.prettifyString(service.serviceName)}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>

              <app-dynamic-form *ngIf="fields" [form]="form" [fields]="fields" (submitData)="submitServiceData($event)"></app-dynamic-form>
            </div>
            <!--recharge block-->

            <!--recharge verify block-->
<!--            <div class="widget-content-block verify-recharge" [class.visible]="switchState === 'recharge-verify'">-->
<!--              <h4 style="margin:0;">Recharge Details</h4>-->
<!--              <p>Please confirm recharge details to proceed</p>-->
<!--              <div class="inner-content-area">-->
<!--                <div class="block"><span class="title">Phone number</span> <span-->
<!--                  class="value">{{rechargeObj.receiverMsisdn | checkNull : ''}}</span></div>-->
<!--                <div class="block"><span class="title">Network</span> <span-->
<!--                  class="value">{{rechargeObj.networkName | checkNull : ''}}</span></div>-->
<!--                <div class="block"><span class="title">Amount</span> <span-->
<!--                  class="value"> {{rechargeObj.amount | currency : 'NGN' : 'symbol-narrow' | moneyFormatter | checkNull : ''}}</span></div>-->
<!--              </div>-->

<!--              <button md-raised-button type="button" color="" (click)="goToPage()" [disabled]="isRecharging"> Back-->
<!--              </button>-->

<!--              <button md-raised-button type="button" (click)="generateTransaction()" [disabled]="isRecharging"-->
<!--                      color="accent">{{!isRecharging ? 'Pay' : 'Please wait'}}-->
<!--                <i *ngIf="isRecharging" class="fa fa-spinner fa-spin"></i>-->
<!--              </button>-->

<!--            </div>-->
            <!--recharge verify block-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
