<div class="site-container">
  <main class="main-content">
    <app-logo-2></app-logo-2>
    <div class="main-content-wrap">
      <div class="form-cover">
        <div class="form-title">Change Password</div>
        <p class="error"><span *ngIf="error">{{error}}</span></p>
        <form (ngSubmit)="onSubmit()" #formData='ngForm'>
          <mat-form-field>
            <input matInput type="password" required [(ngModel)]="password.password"
                   [ngModelOptions] ="{standalone: true}" name="username" placeholder="Enter New Password">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" required [(ngModel)]="password.confirmPassword" [ngModelOptions] = "{standalone: true}" name="password" placeholder="Confirm New Password">
          </mat-form-field>

          <button md-raised-button type="submit" color="accent" [disabled]="isChanging"> Change Password <mat-spinner *ngIf="isChanging" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>
        </form>
      </div>

      <div class="copy">&copy; 2020 {{vendorTitle}}</div>
    </div>
  </main>
</div>
