@import 'src/assets/sass/variable';

.package-heading{
  margin:30px 0px 5px;
  color:#444;
  text-transform: capitalize;
}

.package-section{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width:100%;

  .package{
    position: relative;
    color:#444;
    box-sizing:content-box;
    padding:20px;
    background-color: #fff;
    transition: 0.3s;
    width: calc(25% - 50px);
    text-align:center;
    border:1px solid #ededed;
    .logo{
      height: 70%;
      margin: 3px 0 10px;
      color: $accent-color;
      font-weight: 400;
      img{
        height: 100%;
        width: auto;
      }
    }
    p{
      margin:3px 0;
      padding-bottom: 10px;
      font-size:1em;
      color: #111;
      font-weight: 300;
    }
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &.coming-soon{
      display: none;

      &:after{
        position:absolute;
        top:0;
        left:0;
        content:'coming soon';
        font-size:2rem;
        padding-top:50px;
        box-sizing:border-box;
        display:block;
        height:100%;
        width:100%;
        background: rgba(0, 0, 0, 0.4);
        color:#fff;
      }
    }
  }
}
