@import "src/assets/sass/variable";

section{
    table {
      font-size: .9rem;
      width: 95%;
      border-collapse: collapse;
      background: #ccc;
      margin: 0 auto 20px;

      th {
        font-weight: 500;
        padding: 5px;
        text-align: left;
        &:last-child{
          border-right: 1px solid #ccc;
        }
      }

      tbody {
        tr {
          text-align: left;
          background-color: white;
          font-size: .85rem;
          margin-bottom: 2px;
          border-bottom: 1px solid #ccc;

          td{
            padding: 5px 10px;
            &:nth-child(n + 1){
              border-left: 1px solid #ccc;
            }
            &:last-child{
              border-right: 1px solid #ccc;
            }
          }
        }
      }
    }

  button{
    @include btn-outline($danger-color);
    padding: 5px 20px;
    margin-bottom: 20px;
  }
}
