<div class="row">
  <div class="container col-lg-11">

    <div class="mat-card">

      <div style="margin-top: -35px; position: relative;">

        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" class="card viewInfo text-center">
          <div class="md-container">
            <!--<h4 class="text-center">Change Password</h4>-->
            <mat-form-field class="md-inline col-md-8">
              <label class="sr-only" for="oPassword">Old Password</label>
              <input matInput type="password" id="oPassword" formControlName="oldPassword" name="oldPassword" placeholder="Old Password" value="">
            </mat-form-field>

            <mat-form-field class="md-inline col-md-8">
              <label class="sr-only" for="nPassword1">New Password</label>
              <input matInput type="password" id="nPassword1" formControlName= "password" name="password" placeholder="Enter New Password" value="">
            </mat-form-field>

            <mat-form-field class="md-inline col-md-8">
              <label class="sr-only" for="nPassword2">New Password</label>
              <input matInput type="password" id="nPassword2" formControlName="confirmPassword" name="confirmPassword" placeholder="Re-enter Password" value="">
            </mat-form-field>

          </div>
          <button md-raised-button type="submit" color="accent" [disabled]="changePasswordForm.invalid || changePasswordStatus"> Change Password <mat-spinner *ngIf="changePasswordStatus" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

        </form>
      </div>
    </div>
  </div>
</div>
