@import '../../../../../../assets/sass/variable';

.divider{
  display: block;
  margin: 5px 0 30px 0;
  border-top: 2px solid rgba(0, 0, 0, .12);
  width: 100%
}

.container{
  background: white;
  padding: 40px 60px;
}

.mat-card{
  width: 100%;
}

.mat-card-header{
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

form {
  padding: 0px 20px 20px;
  i{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: rgba(0,0,0, .4);
  }

  button {
    display:inline-block;
    margin-top: 20px;
    font-size: 1.2em;
    margin-bottom: 0px;
    width: 300px;
    height: 50px;
    background: $accent-color;
    &:disabled{
      opacity:.6;
    }
  }
  .additional-info {
    text-align: center;
    font-weight: bold;
    margin: $module (-$module) (-$module);
    padding-top: 0px;
    padding-bottom: 20px;

    .divider {
      border-left: 1px solid rgba(#000,.2);
      display: inline-block;
      height: 18px;
      margin: 0 10px;
      vertical-align: bottom;
    }
  }
}


.mb-module{
  width: 100%;
  margin-top: 40px;
  md-select{
    width: 100%;
  }

}

.switcher{
  background: white;
  padding: 10px 60px;
  font-weight: bold;
  color: $primary-light;
}

.card{
  background: rgba(0,0,0, .003);
  border-radius: 2px;
  margin: 1rem;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-outline-brand-primary {
  @include button-outline($brand-primary);
}

.btn-outline-brand-primary:hover {
  @include button-outline-hover($brand-primary);
}

.btn-outline-brand-warning {
  @include button-outline($accent-color);
}

.btn-outline-brand-warning:hover {
  @include button-outline-hover($accent-color);
}

.viewInfo {
  input{
    border: none !important;
  }
}

.buttonSection{
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;

  div{
    margin-right: 10px;
    width: 150px;
  }
}

div.mat-input-underline{
  display: none !important;
}

form{
  min-height: 300px;
}
