@import '../../../../../../../assets/sass/variable';

.divider{
  display: block;
  margin: 5px 0 30px 0;
  border-top: 2px solid rgba(0, 0, 0, .12);
  width: 100%
}

.container{
  background: white;
  padding: 40px 60px;
  td.more{
    text-align: center;
    div{
      padding: 5px;
      display: inline-block;
    }
    div:hover{
      cursor: pointer;
    }
  }
}

.info-card{
  color:#fff !important;
}

.custom-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 10px;
  flex: 0 0 24%;
  padding: 0;
  color:#444;
  background-color: #fff;
  header{
    background: $accent-color;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin: -1px -1px 0 -1px;
    padding: 0.7857143rem 1.5714286rem;
    position: relative;
    .download-btn{
      position: absolute;
      right: 10px;
      vertical-align: baseline;
      text-transform: capitalize;
      color: #0275d8;
      border: 2px solid #ddd;
      background-color: #fff;
      padding: 2px 25px;
      top: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      &:hover{
        cursor:default;
      }
    }
  }

  .filter-section{
    display:flex;
    justify-content: space-between;
  }

  h3{
    padding: 0px 10px 10px;
    color: #fff;
    font-size: 2.2em;
    font-weight: 700;
  }

  .background{
    height: 120px;
  }

  .card-content{
    .title{
      font-weight: 700;
      font-size:0.9em;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
    .count-section{
      border-top: 3px solid rgba(0, 0, 0, 0.06);
      min-width: 20px;
      padding: 5px 0px 0px;
      margin-top:10px;
      display:flex;
      justify-content: space-around;
      .count-item{
        text-align: center;
        h5{
          font-size:1.2em;
          padding:2px 0;
          margin:0;
          font-weight: 600;
        }
        span{
          font-size:80%;
        }
      }
    }
  }

  .info{
    height: 100px;
    background: white;
    padding: 15px;

    .main{
      font-size: 2.6em;
    }

    .header{
      display: block;
      font-weight: bold;
    }

    .superscript{
      font-size: 1.2em;
      vertical-align: top;
      margin: 6px;
      display: inline-block;
      padding-top: 5px;
    }
  }
  i{
    color: hsla(0,0%,100%,.2);
    font-size: 60px;
    height: auto;
    position: absolute;
    right: 1.5714286rem;
    top: 1.5714286rem;
    width: auto;
  }


  .sectioning{
    display: inline-block;
    width: 23%;
    text-align: center;
    margin-top: 15px;

    .header{
      font-size: .9em;
    }

    .main{
      font-size: 1.3em;
    }
  }

}

.filter-container{
  min-height: 4vh;
  box-sizing:border-box;
  padding: 10px;
  .filter-title{
    display:inline-block;
    font-weight:700;
  }

  .list-items{
    li {
      display:inline-block;
      margin-right:20px;
    }
  }
}

.filter-section{
  .filter-form{
    margin-left:30px;
    input{
      border: 1px solid #ccc;
      outline:none;
      box-shadow: none;
    }
    .filter-btn{
      padding:2px 20px;
      display:inline-block;
      background-color: $primary-light;
      color:#fff;
      border:none;
    }
  }
  padding: 1.1rem 0.5rem;
  .range-section{
    display: inline-block;
    color:#fff;
    left: 0px;
    top: 5px;
  }
  .search-range{
    position: relative;
    float: right;
    top: 0;
  }
}


.filter-container{
  min-height: 5vh;
  padding: 10px;
  .filter-title{
    display:inline-block;
    font-weight:700;
  }

  .list-items{
    li {
      display:inline-block;
      margin-right:20px;
    }
  }
}

.side-container{
  padding: 10px;

  .side-container-head{
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
  }

  h4{
    font-size: 1.2em;
    color: white;
    background: $brand-primary;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
  }

  ul{
    md-checkbox {
      margin-left: 35px;
      margin-top: 5px;
    }
    li{
      width: calc(100% + 20px);
      margin-left: -5px;
      border-bottom: rgba(grey, .3) 1px solid;
      md-checkbox {
        padding: 7px;
      }
    }

    .select-all{
      md-checkbox {
        margin-top: -15px;
        margin-left: 10px;
        margin-bottom: 5px;
      }
    }
  }
}

.mat-card{
  width: 80%;
}

.card-wrap{
  height: 100px;
}

.mat-card-header{
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 0 !important;
}


button{
  background: $brand-primary !important;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 30%;
  padding: 4px;
}
.mb-module{
  width: 100%;
  md-select{
    width: 100%;
  }

}

.switcher{
  background: white;
  padding: 10px 60px;
  font-weight: bold;
  color: $primary-light;
}

.card{
  background: rgba(0,0,0, .003);
  border-radius: 2px;
  margin: 1rem;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.myItems{
  width: 70px !important;
  height: 70px !important;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: -5px 2px;
  cursor: pointer;

  span{
    display: block;
    text-align: center;
    font-size: .6em;
  }

  i{
    display: block;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
  }
  &:hover{
    text-shadow:2px 2px 2px 2px #777;
  }
}
tr {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  td {
    position: relative;
    .status {
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 8px;
      right: 0;
      top: 0;
    }
  }
}

tr:first-child{
  border-top:none;
}

tr:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  td:last-child{
    box-shadow: none;
  }
}

.link{
  cursor: pointer;
}

.status{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 8px;
  right: 0;
  top: 0;
}
