<div class="package-card">
  <div class="loader" *ngIf="false"><span class="fa fa-spinner icon-loader"></span></div>
  <header style="font-weight:700;">
    <a *ngIf="switchState === 'data'" routerLink="/customer" class="back-btn"><i class="fa fa-arrow-left"></i><span>back to Home</span></a>
    <a *ngIf="switchState !== 'data'" (click)="goToPage()" class="back-btn"><i class="fa fa-arrow-left"></i><span>back</span></a>
    Buy Data
  </header>
  <div>
    <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="content-area">
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-xl-2">

        </div>
        <div class="col-xl-8 col-xs-12">
          <div class="widget-content" [ngSwitch]="'data'">

            <!--data block -->
            <div class="widget-content-block data"  [class.visible]="switchState === 'data'">
              <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="mb-5">
                  <span *ngIf="isLoadingNetworks" style="color:#777;"><i class="fa fa-spinner fa-spin"></i> Loading Network Providers  . . .</span>
                  <mat-select *ngIf="!isLoadingNetworks"  placeholder="Choose a network providers" required formControlName="networkId" [(ngModel)]="network" (change)="setNetwork(network)"  style="width:100%;">
                    <ng-template ngFor let-network [ngForOf]="networksDataWithId">
                      <mat-option [value]="network.data.id" *ngIf="network.data.isDataActive">
                        <img width="20" height="20" [src]="network.logoPath"/>  {{network.data.networkName}}
                      </mat-option>
                    </ng-template>
                  </mat-select>
                  <div *ngIf="dataForm.get('networkId').invalid && (dataForm.get('networkId').dirty || dataForm.get('networkId').touched)">
                    <div class="errorText" >
                      Network Provider is required
                    </div>
                  </div>
                </div>
                <div class="mb-5">
                  <mat-select *ngIf="selectedNetwork"  placeholder="Select a data bundle" required formControlName="product" [(ngModel)]="product" (change)="setPackage(product)"  style="width:100%;">
                    <mat-option [value]="product.id"   *ngFor="let product of networkDataPackages">
                      {{product.name}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="dataForm.get('product').invalid && (dataForm.get('product').dirty || dataForm.get('product').touched)">
                    <div class="errorText" >
                      Data bundle is required
                    </div>
                  </div>
                </div>
                <mat-form-field class="mb-5">
                  <label class="sr-only" for="phone">Mobile phone</label>
                  <input matInput type="tel" required id="phone" (keyup)="checkNum()" (blur)="checkNum()" formControlName="mobile" placeholder="Mobile Phone" [(ngModel)]="mobile">
                  <div *ngIf="dataForm.get('mobile').invalid && (dataForm.get('mobile').dirty || dataForm.get('mobile').touched)">
                    <div *ngIf="dataForm.get('mobile').errors.required" class="errorText" >
                      Phone number is required
                    </div>

                    <div *ngIf="dataForm.get('mobile').errors.pattern && !(dataForm.get('mobile').errors.required)" class="errorText" >
                      Enter a valid phone number
                    </div>

                    <div *ngIf="dataForm.get('mobile').errors.numberValid" class="errorText" >
                      Number length must be 11 digits
                    </div>
                  </div>
                </mat-form-field>

                <div class="mb-5" style="background-color: #ededed; color:#777; border:#444; padding:5px;">
                  <strong>Amount : </strong>{{amount}}
                </div>

                <a md-raised-button color="" (click)="resetForm()"> Reset </a>

                <button md-raised-button type="submit" color="accent" [disabled]="!dataForm.valid && !amount">Proceed</button>

              </form>
            </div>
            <!--data block-->

            <!--data verify block-->
            <div class="widget-content-block verify-recharge"  *ngIf="switchState === 'data-verify'"  [class.visible]="switchState === 'data-verify'" >
              <h4 style="margin:0;">Recharge Details</h4>
              <p>Please confirm details to proceed</p>
              <div class="inner-content-area">
                <div class="block"><span class="title">Product name</span> <span class="value">{{productName | checkNull : ''}}</span></div>
                <div class="block"><span class="title">Phone number</span> <span class="value">{{dataObj.receiverMsisdn | checkNull : ''}}</span></div>
                <div class="block"><span class="title">Network</span> <span class="value">{{dataObj.networkName | checkNull : ''}}</span></div>
                <div class="block"><span class="title">Amount</span> <span class="value"> {{dataObj.amount | currency : 'NGN' : 'symbol-narrow' | moneyFormatter | checkNull : ''}}</span></div>
              </div>

              <button md-raised-button type="button" color="" (click)="goToPage()" [disabled]="isRecharging"> Back </button>

              <button md-raised-button type="button" (click)="generateTransaction()" [disabled]="isRecharging"  color="accent">{{!isRecharging?'Pay':'Please wait'}}
                <i *ngIf="isRecharging" class="fa fa-spinner fa-spin"></i>
              </button>

            </div>
            <!--data verify block-->
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
