<div class="row">
  <div class="container col-lg-11">
    <mat-progress-bar *ngIf="isLoadingRoles" mode="indeterminate"></mat-progress-bar>
    <div class="mat-card">
      <mat-expansion-panel class="roles" *ngFor="let role of roles">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="perm-title">{{role.name}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description class="description">
          Role Permissions
        </mat-panel-description>
        <div class="row permissions">
          <div class="col-lg-3" *ngFor="let p of role.permissions">
            <mat-checkbox [checked]="true" disabled >{{p.name | titlecase}}</mat-checkbox>
          </div>
        </div>
        <mat-card-footer>
          <button class="btn primary-btn-outline" (click)="editRole(role.id)">Edit Role</button>
          <button class="btn btn-outline-danger" (click)="deleteRole(role.id)">Delete Role</button>
        </mat-card-footer>
      </mat-expansion-panel>
    </div>
  </div>
</div>
