@import 'src/assets/sass/variable';

:host {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5a623+0,1469d1+100 */
  //background: #E2EFFA; /* Old browsers */
  background: #e8ecf1;
  //background: -moz-linear-gradient(45deg, #f5a623 0%, #1469d1 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(45deg, #f5a623 0%,#1469d1 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(45deg, #f5a623 0%,#1469d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a623', endColorstr='#1469d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: block;
  height: 100vh;
  vertical-align: middle;
  width: 100%;
  overflow-y: scroll;
  //@media #{$max767} {
  //  overflow-y: scroll;
  //}
  .logo{
    height: 110px;
    text-align: center;
    margin-top: 15vh;
    img{
      height: 100%;
      width: auto;
    }
  }

  .copy{
    color: #111;
    text-align: center;
    font-size: .9em;
    margin-top: 50px;
  }

  .registration-success-card{
    max-width: 600px;
    background: white;
    margin: 0px auto auto;
    padding:30px 30px 60px;
    .icon{
      font-size:7em;
      margin: 20px 0;
    }
    .card-title{
      margin: 10px 0;
      font-size:1.4rem;
    }
    .btn-outline{
      border:1px solid $accent-color;
      padding:10px;
      color: $accent-color;
    }
    p{
      .email{
        font-weight:700;
      }
    }
  }

  .form-cover {
    max-width: 600px;
    background: white;
    margin: 0px auto auto;

    ::ng-deep .card-wrap {
      border: 0;
    }
    .form-title{
      text-transform: uppercase;
      text-align: center;
      color: #111;
      font-weight: 700;
      //background: $brand-primary;
      height: 50px;
      font-size: 1.2em;
      padding-top: 10px;
    }
    form {
      padding: 0px 20px 20px;
      i{
        display: inline-block;
        position: absolute;
        bottom: 10px;
        right: 15px;
        color: rgba(0,0,0, .4);
      }

      button {
        margin-top: 20px;
        font-size: 1.2em;
        width: 100%;
        margin-bottom: 0px;
        height: 50px;
        background: $accent-color;
        &:disabled{
          opacity:.6;
        }
      }
      .additional-info {
        text-align: center;
        font-weight: 300;
        margin: $module (-$module) (-$module);
        padding-top: 0px;
        padding-bottom: 20px;

        .divider {
          border-left: 1px solid rgba(#000,.2);
          display: inline-block;
          height: 18px;
          margin: 0 10px;
          vertical-align: bottom;
        }
      }
    }
  }
}

.errorText{
  position: absolute;
  padding-top: 10px;
  font-size: .8em;
  color: #f44336;
}


//.spinner{
//  height: 35px !important;
//  width: 35px !important;
//  position: absolute !important;
//  right: 20px !important;
//  md-spinner {
//    height: 35px;
//    width: 35px;
//    display: inline-block;
//
//    svg{
//      width: 35px;
//      height: 35px;
//    }
//  }
//}
