<div class="main-card">
  <div class="content-area">
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-xl-2">

        </div>
        <div class="col-xl-8">
          <div class="widget-content">
            <div class="widget-content-block">
              <h1><i class="fa fa-support"></i></h1>
              <h2>Support</h2>
              <p>Kindly contact support on <strong><a href="mailto:support@lillynaija.com">{{supportEmail}}</a></strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
