<div class="row" style="margin:20px 5px 10px;">
  <div class="col-lg-12 filter-container">

    <div class="custom-card" style="margin:0; padding-bottom:20px;">
      <header>Fund Request History</header>

      <div class="filter-section">
        <div class="filter-block">
          <div style="display: inline-block;">
            <mat-select [(ngModel)]="range" (change)="getRange()" style="width:100px;"  >
              <mat-option value="all">All</mat-option>
              <mat-option value="other">Range</mat-option>
            </mat-select>
          </div>
          <div class="filter-form" [style.display]="range=='other' ? 'block' : 'none'" style="font-size:12px;">
            <label for="fromDate">From: </label>
            <input type="date" [(ngModel)]="fromDate" id="fromDate" placeholder="from date" style="width:120px;"/>
            <label for="toDate">To: </label>
            <input type="date" [(ngModel)]="toDate" id="toDate" placeholder="to date"  style="width:120px;"/>
            <input type="submit" class="filter-btn" value="Search" (click)="getRangeTransaction()"/>
          </div>
        </div>

        <div class="filter-block">
          <!--<ul class="list-group list-unstyled list-items" style="float:left; margin-left:5px; font-size:12px;">-->
            <!--<li class="filter-title">Filter by : </li>-->
            <!--<li class="list-group-item select-all" style="color:#5cb85c">  <mat-checkbox [(ngModel)]="isSuccessTicked">Approved</mat-checkbox></li>-->
            <!--<li class="list-group-item" style="color:#d9534f"> <mat-checkbox [(ngModel)]="isFailedTicked">Declined</mat-checkbox> </li>-->
            <!--&lt;!&ndash;<li class="list-group-item"> <mat-checkbox [checked]="vAgents" #viewAgents (click)="selectAgents()" >Agent</mat-checkbox> </li>&ndash;&gt;-->
          <!--</ul>-->
        </div>
        <!--<div class="search-range filter-block">-->
          <!--<div style="display: inline-block; margin-right:0px;" class="row">-->
            <!--<input class="form-control" style="display: inline-block; width:200px;" type="text" placeholder="Filter by name, email or phone" [(ngModel)]="searchText" name="search" id="searchText">-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div style="min-height:200px;">
        <table class="table table-dark mobile-table"  *ngIf="transactionsWithId.length > 0">
          <thead>
          <tr>
            <!--make table stable-->
            <th></th>
            <!---->
            <th scope="col">#</th>
            <th scope="col">Depositor's Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Requested Amount</th>
            <th scope="col">Date/Time</th>
          </tr>
          </thead>
          <tbody *ngFor="let tranx of transactionsWithId | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <tr [style.backgroundColor] = "i%2 === 0 ? '#ecf0f5' : 'white'">
<!--            <mat-progress-bar *ngIf="isloading && agent.data.id === setId" mode="indeterminate" style="position: absolute; width: 95%; margin-top: 45px; margin-bottom: 0"></mat-progress-bar>-->
            <!--make table stable-->
            <mat-progress-bar mode="indeterminate" style="visibility: hidden"></mat-progress-bar>

            <td scope="row">{{tranx.id}}</td>
            <td scope="row">{{tranx.data.depositorName}}</td>
            <td scope="row">{{tranx.data.mobileNo}}</td>
            <td scope="row">{{tranx.data.amount | currency : 'NGN' : 'symbol-narrow' | moneyFormatter}}</td>
            <td scope="row">{{tranx.data.createdDate | date}}, {{tranx.data.createdDate | date : 'shortTime'}}

              <span *ngIf="tranx.data.status === 0" class="status" [style.background-color]="'#df9808'" class="status desktopOnly"></span> <!--failed-->
              <span *ngIf="tranx.data.status === -1" class="status" [style.background-color]="'#d9534f'" class="status desktopOnly"></span> <!--failed-->
              <span *ngIf="tranx.data.status === 1" class="status" [style.background-color]="'#5cb85c'" class="status desktopOnly"></span> <!--successful-->
            </td>
            <td *ngIf="tranx.data.status === 0" class="mobileOnly"><span [style.background-color]="'#dfac2d'" class="status-badge">Awaiting Approval</span></td>
            <td *ngIf="tranx.data.status === 1" class="mobileOnly"><span [style.background-color]="'#5cb85c'" class="status-badge">Approved</span></td>

          </tr>
          </tbody>
        </table>
        <div *ngIf="transactionsWithId.length === 0 && !isTransactionsLoaded"  style="text-align:center; border-top:1px solid #ccc; padding:20px 0px;">
          <span style="color:#ccc; font-size:2rem;">No Transactions Data</span>
        </div>
        <pagination-controls *ngIf="transactionsWithId.length > 0" style="text-align: right" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
