@import "src/assets/sass/variable";
.alert{
  width: 50px;
  height: 50px;
  border: 1px solid $danger-color;
  color: $danger-color;
  border-radius: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

span{
  color: $text-color;
  display: block;
}

.main{
  font-size: .9rem;
}

.secondary{
  font-weight: 500;
}
