<div class="site-container">
  <main class="main-content">
    <app-logo-2></app-logo-2>
    <div class="main-content-wrap">
      <div class="form-cover">
        <div class="form-title">Reset Password</div>
        <div class="error text-center pt-3" style=" min-height: 30px;width: 90%;margin: auto;">
          <app-custom-alert *ngIf="errorMsg" [type]="'danger'" [fadeOut]="false" [multiple]="false" [title]="errorMsg" [textObject]=""></app-custom-alert>
        </div>
        <form (ngSubmit)="onSubmit()" #formData='ngForm' [formGroup]="forgotPasswordForm" >

          <p class="text-center small instruct">No problem!. Just enter your registration email and we'll send you an email link to reset your password.</p>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" >
          </mat-form-field>

          <button md-raised-button type="submit" color="accent" [disabled]="forgotPasswordForm.invalid || forgotAction">Reset Password <mat-spinner *ngIf="forgotAction" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

          <div class="additional-info">
            <a routerLink="/sign-in">Back to Sign In</a>
          </div>
        </form>
      </div>
      <div class="copy">&copy; 2020 {{vendorTitle }}</div>
    </div>
  </main>
</div>
