<section>
  <div class="card" *ngIf="!editCategory && !editLogo && category">
    <div class="logo  mr-2">
      <img [src]="sanitizer.bypassSecurityTrustResourceUrl(category?.categoryLogo)">
    </div>
    <div style="width: 75%">
      <h4 class="title">
        {{category?.categoryName}}
      </h4>
      <div class="description">
        {{category?.description}}
      </div>

      <div class="button-section">
        <button (click)="editCategory = true" class="tertiary-button">Edit category</button>
        <button (click)="editLogo = true" class="tertiary-button">Change image</button>
      </div>
    </div>
  </div>

  <div class="cat-form-section" *ngIf="editCategory">
    <form>
      <label for="title">
        <span>Category Name</span>
        <input class="pl-2" [disabled]="updatingCat" id="title" placeholder="name" type="text" [(ngModel)]="catForm.categoryName" name="categoryName">
      </label>
      <label for="description">
        <span>Description</span>
        <textarea class="pl-2" [disabled]="updatingCat" id="description" [(ngModel)]="catForm.description" placeholder="Description" name="descriptsion"></textarea>
      </label>

      <div class="button-section">
        <button class="btn-primary" [disabled]="updatingCat" (click)="updateCategory()">Update <fa-icon *ngIf="updatingCat" [icon]="spinner" [spin]="true"></fa-icon> </button>
        <button class="btn-outline" [disabled]="updatingCat" (click)="cancelUpdate()">Cancel</button>
      </div>
    </form>
  </div>

  <div class="cat-form-section" *ngIf="editLogo">
    <form class="logo-section">
      <label for="logo">
        <span class="sr-only">Logo</span>
        <input [disabled]="updatingCat" id="logo" placeholder="logo" type="file" (change)="getFile($event)">
      </label>

      <div class="button-section">
        <button [disabled]="updatingCat" class="btn-primary" (click)="updateCatLogo()">
          Update <fa-icon *ngIf="updatingCat" [icon]="spinner" [spin]="true"></fa-icon>
        </button>
        <button class="btn-outline" [disabled]="updatingCat" (click)="cancelUpdate()">Cancel</button>
      </div>
    </form>
  </div>

  <ul class="service-lists">
    <ng-template ngFor let-service [ngForOf]="category?.services" [ngForTrackBy]="trackFn" let-i="index">
    <li>
      <app-service-list [service]="service"></app-service-list>
    </li>
    </ng-template>
  </ul>
</section>
