
  <!--<div class="row">-->
    <!--<div class="col-md-6 col-xl-6">-->
      <!--<div class="info-card custom-card">-->
        <!--<div class="card-wrap danger-card" style="background: #56a53c">-->
          <!--<div class="card-content" style="padding: 1.57143rem;">-->
            <!--<div class="title text-uppercase">Main wallet</div>-->
            <!--<div class="money_count">-->
              <!--<span>NGN</span>-->
              <!--{{userFormData.mainWallet | currency : 'NGN' : 'symbol-narrow' | moneyFormatter}}-->
              <!--&lt;!&ndash;<span>.00</span>&ndash;&gt;-->
            <!--</div>-->
            <!--<i class="material-icons">account_balance_wallet</i>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-6 col-xl-6">-->
      <!--<div class="info-card custom-card">-->
        <!--<div class="card-wrap danger-card" style="background: #56a53c">-->
          <!--<div class="card-content" style="padding: 1.57143rem;">-->
            <!--<div class="title text-uppercase">Commission wallet</div>-->
            <!--<div class="money_count">-->
              <!--<span>NGN</span>-->
              <!--{{userFormData.commissionWallet | currency : 'NGN' : 'symbol-narrow' | moneyFormatter}}-->
              <!--&lt;!&ndash;<span>.00</span>&ndash;&gt;-->
            <!--</div>-->
            <!--<i class="material-icons">account_balance_wallet</i>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->



<router-outlet></router-outlet>

