<h2 md-dialog-title class="user-details"><span>TRANSACTION DETAILS </span></h2>
<div md-dialog-content>
  <table class="user-details" style="width:100%;">
    <tr><td class="title">Transaction Id</td><td class="detail">{{transactionId}}</td></tr>
    <tr><td class="title">Email</td><td class="detail">{{email}}</td></tr>
    <tr><td class="title">Transaction Type</td><td class="detail">{{getTransactionType(transactionType)}}</td></tr>
    <tr><td class="title">Channel</td><td class="detail">{{channel}}</td></tr>
    <tr><td class="title">Network</td><td class="detail">{{network}}</td></tr>
    <tr><td class="title">To MSISDN</td><td class="detail">{{toMsisdn}}</td></tr>
    <tr><td class="title">Amount</td><td class="detail">{{amount | currency | moneyFormatter}}</td></tr>
    <tr><td class="title">Commission</td><td class="detail">{{commission | currency | moneyFormatter}}</td></tr>
    <tr><td class="title">Description</td><td class="detail">{{description}}</td></tr>
    <tr><td class="title">No of Retries</td><td class="detail">{{retries}}</td></tr>
    <tr><td class="title">Performed By</td><td class="detail">{{fromType}}</td></tr>
    <tr><td class="title">Created Date</td><td class="detail">{{createdDate | date}} / {{createdDate | date : 'shortTime'}}</td></tr>
    <tr *ngIf="status  !==  -1"><td class="title">Status</td><td class="detail">{{status ? 'Successful' : 'Failed'}}</td></tr>
    <tr *ngIf="status === -1"><td class="title">Status</td><td class="detail">Pending</td></tr>
  </table>
</div>

<div md-dialog-actions style="display:flex; justify-content: center;">
  <button md-button style="border:1px solid #ff0000;" (click)="dialogRef.close('close')" color="warn">Cancel</button>
</div>




