<div class="row" style="margin:20px 5px 10px;">
  <div class="col-lg-12 filter-container">
    <div class="custom-card" style="margin:0; padding-bottom:20px;">
      <header>Admins</header>
      <div class="filter-section">

        <div class="filter-block">
          <ul class="list-group list-unstyled list-items flex-row align-items-center" style="float:left; margin-left:5px; font-size:12px;">
            <li class="filter-title">Filter by : </li>
            <li style="color:#5cb85c">
              <mat-checkbox [(ngModel)]="isActiveTicked">Approved</mat-checkbox></li>
            <li style="color:#d9534f">
              <mat-checkbox [(ngModel)]="isBlockedTicked">Declined</mat-checkbox> </li>
            <!--<li class="list-group-item"> <mat-checkbox [checked]="vAgents" #viewAgents (click)="selectAgents()" >Agent</mat-checkbox> </li>-->
          </ul>
        </div>
        <div class="search-range filter-block">
          <div style="display: inline-block; margin-right:0px;" class="row">
            <input class="form-control" style="display: inline-block; width:250px;" type="text" placeholder="Filter by name, email or phone" [(ngModel)]="searchText" name="search" id="searchText">
          </div>
        </div>
      </div>
      <div>
        <mat-progress-bar *ngIf="isLoadingAdmins" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="adminWithId.length < 1 && !isLoadingAdmins" style="padding:20px 10px;text-align:center">
          <span>No data at the moment</span>
        </div>
        <table class="table table-primary"  *ngIf="adminWithId.length > 0">
          <thead>
          <tr>
            <!--make table stable-->
            <th></th>
            <!---->
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Date created</th>
            <th scope="col"> </th>
          </tr>
          </thead>
          <tbody *ngFor="let admin of adminWithId | userStatusFilter : isActiveTicked : isBlockedTicked |  filter : searchText  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <tr [style.backgroundColor] = "i%2 === 0 ? '#ecf0f5' : 'white'">
            <mat-progress-bar *ngIf="isloading && admin.data.id === setId" mode="indeterminate" style="position: absolute; width: 95%; margin-top: 45px; margin-bottom: 0"></mat-progress-bar>
            <!--make table stable-->
            <mat-progress-bar mode="indeterminate" style="visibility: hidden"></mat-progress-bar>

            <td scope="row"> {{admin.id}}</td>
            <td class="link" (click)="viewProfile(admin.data.id)"> {{admin.data.firstName | checkNull}} {{admin.data.lastName | checkNull}} </td>
            <td class="link" (click)="viewProfile(admin.data.id)">{{admin.data.email}}</td>
            <td class="link">{{admin.data.mobile | checkNull}}</td>
            <td class="link">{{admin.data.createdDate | date}}</td>
            <td class="more"><div class="btn btn-link" (click)="getId(admin.data.id, admin.data.blocked, admin.data.active)" [mat-menu-trigger-for]="action"><i class="fa fa-ellipsis-v"></i></div>
              <span class="status" [style.background-color]="admin.data.active ? '#5cb85c' : '#777'" class="status"></span>
              <span *ngIf="admin.data.blocked" class="status" [style.background-color]=" '#d9534f'" class="status"></span>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls style="text-align: right" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<mat-menu #action="matMenu" class="actionMenu" style="width: 240px;">
  <div *ngIf="activeUser" style=" width: 160px;">
    <div class="myItems" (click)="editUserProfile()"><i class="fa fa-edit" style="color: #205081"></i><span>Profile</span></div>
    <div class="myItems" *ngIf="isBlocked" (click)="unBlockUser()"><i class="fa fa-user-plus" style="color: #5cb85c"></i><span>Unblock</span></div>
    <div class="myItems" *ngIf="!isBlocked" (click)="blockUser()"><i class="fa fa-user-times" style="color: #ff8c00"></i><span>Block</span></div>
    <div class="myItems" (click)="confirmDelete()"><i class="fa fa-trash-o" style="color: #ff4444"></i><span>Delete</span></div>
  </div>
  <div *ngIf="!activeUser" style=" width: 160px;">
    <div class="myItems" (click)="sendActivation()"><i class="fa fa-envelope" style="color: #205081"></i><span>Re-send link</span></div>
    <div class="myItems" (click)="confirmDelete()"><i class="fa fa-trash-o" style="color: #ff4444"></i><span>Delete</span></div>
  </div>
</mat-menu>

