@import 'src/assets/sass/variable';

.divider{
  display: block;
  margin: 5px 0 30px 0;
  border-top: 2px solid rgba(0, 0, 0, .12);
  width: 100%
}

.container{
  background: white;
  padding: 40px 60px;
  td.more{
    text-align: center;
    div{
      padding: 5px;
      display: inline-block;
    }
    div:hover{
      cursor: pointer;
    }
  }
}

.info-card{
  color:#fff !important;
}

.filter-container{
  min-height: 4vh;
  box-sizing:border-box;
  padding: 10px;
  .filter-title{
    display:inline-block;
    font-weight:700;
  }

  .list-items{
    li {
      display:inline-block;
      margin-right:20px;
    }
  }
}

.filter-section {
  .filter-form {
    input {
      border: 1px solid #ccc;
      outline: none;
      box-shadow: none;
      margin-right: 10px;
    }

    .filter-btn {
      //padding: 2px px;
      display: inline-block;
      background-color: $primary-light;
      color: #fff;
      border: none;
    }
  }

  padding: 1.1rem 0.5rem;

  .range-section {
    display: inline-block;
    color: #fff;
    left: 0;
    top: 5px;
  }

  .search-range {
    position: relative;
    float: right;
    top: 0;
  }
}
