<ng-container [formGroup]="form">
  <ng-container [ngSwitch]="field.controlType">

    <mat-form-field *ngSwitchCase="'textbox'" class="col-12">
      <label class="sr-only" [attr.for]="field.key">{{field.label}}</label>
      <input matInput [placeholder]="field.label"  [formControlName]="field.key"
             [id]="field.key" [type]="field.type" (blur)="getIsValid()">
    </mat-form-field>

    <mat-select [placeholder]="field.label" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="col-12">
      <label class="sr-only" [attr.for]="field.key">{{field.label}}</label>
      <mat-option *ngFor="let opt of field.options" (change)="getIsValid()" [value]="opt.key">{{opt.value}}</mat-option>
    </mat-select>
  </ng-container>

  <div class="errorMessage" *ngIf="!getIsValid()">{{field.label}} is required</div>
</ng-container>
