<div class="site-container">
  <main class="main-content">
    <app-logo-2></app-logo-2>
    <div class="main-content-wrap">
      <div class="form-cover">
        <div class="form-title">Password Reset Notification Sent</div>
        <main class="main-content">
          <div class="main-content-wrap text-center">
              <div class="mail-img">
                <img src="assets/img/email-sent.png" alt="email-sent-icon">
              </div>
              <p>An email has been sent to you with instructions to reset your password.</p>
              <div class="additional-info">
                <a routerLink="/sign-in">Return to Sign in</a>
              </div>
          </div>
        </main>
      </div>
    </div>
  </main>
</div>
