<div class="package-card">
  <div class="loader" *ngIf="false"><span class="fa fa-spinner icon-loader"></span></div>
  <header style="font-weight:700;">
    <a *ngIf="switchState !== 'recharge'" (click)="goToPage('recharge')" class="back-btn"><i class="fa fa-arrow-left"></i><span>back</span></a>
    Sell Airtime
  </header>

  <mat-tab-group>
    <mat-tab label="One-Time">
      <div class="content-area">
        <div class="container">
          <div class="row mt-5 mb-5">
            <div class="col-xl-2">

            </div>
            <div class="col-xl-8">
              <div class="widget-content">

                <!--recharge block -->
                <div class="widget-content-block recharge"  [class.visible]="switchState === 'recharge'" *ngIf="switchState === 'recharge'">
                  <form [formGroup]="airtimeForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="mb-5">
                      <span *ngIf="isLoadingNetworks" style="color:#777;"><i class="fa fa-spinner fa-spin"></i> Loading Networks . . .</span>
                      <mat-select *ngIf="!isLoadingNetworks" placeholder="Select your network" #selectNetwork required formControlName="networkId" [(ngModel)]="network" (change)="setNetwork(network)"  style="width:100%;">
                        <mat-option [value]="network.data.id"   *ngFor="let network of networksWithId">
                          <img width="20" height="20" [src]="network.logoPath" />  {{network.data.networkName}}
                        </mat-option>
                      </mat-select>
                      <div *ngIf="airtimeForm.get('networkId').invalid && (airtimeForm.get('networkId').dirty || airtimeForm.get('networkId').touched)">
                        <div class="errorText" >
                          Network is required
                        </div>
                      </div>
                    </div>

                    <mat-form-field class="mb-5">
                      <label class="sr-only" for="phone">Mobile phone</label>
                      <input matInput type="tel" required id="phone" (keyup)="checkNum()" (blur)="checkNum()" formControlName="mobile" placeholder="Mobile Phone" [(ngModel)]="mobile">
                      <div *ngIf="airtimeForm.get('mobile').invalid && (airtimeForm.get('mobile').dirty || airtimeForm.get('mobile').touched)">
                        <div *ngIf="airtimeForm.get('mobile').errors.required" class="errorText" >
                          Phone number is required
                        </div>

                        <div *ngIf="airtimeForm.get('mobile').errors.pattern && !(airtimeForm.get('mobile').errors.required)" class="errorText" >
                          Enter a valid phone number
                        </div>

                        <div *ngIf="airtimeForm.get('mobile').errors.numberValid" class="errorText" >
                          Number length must be 11 digits
                        </div>
                      </div>
                    </mat-form-field>

                    <mat-form-field class="mb-5">
                      <label class="sr-only" for="amount">Enter Amount</label>
                      <input matInput type="number" required [(ngModel)]="amount" (keyup)="checkNum()" (blur)='checkNum()' id="amount" formControlName="amount" placeholder="Enter Amount" value="">
                      <div *ngIf="airtimeForm.get('amount').invalid && (airtimeForm.get('amount').dirty || airtimeForm.get('amount').touched)">
                        <div *ngIf="airtimeForm.get('amount').errors.required" class="errorText" >
                          Amount is required
                        </div>

                        <div *ngIf="!(airtimeForm.get('amount').errors.required)" class="errorText">
                          Enter a valid amount
                        </div>
                      </div>
                    </mat-form-field>
                    <a md-raised-button color="" (click)="resetForm()"> Reset </a>

                    <button md-raised-button type="submit" color="accent" [disabled]="!airtimeForm.valid">Proceed</button>

                  </form>
                </div>
                <!--recharge block-->

                <!--recharge verify block-->
                <div class="widget-content-block verify-recharge"   [class.visible]="switchState === 'recharge-verify'"  *ngIf="switchState === 'recharge-verify'">
                  <h4 style="margin:0;">Confirm Recharge</h4>
                  <p>Please confirm recharge details to proceed</p>
                  <div class="inner-content-area">
                    <div class="block"><span class="title">Phone number</span> <span class="value">{{rechargeObj.receiverMsisdn | checkNull}}</span></div>
                    <div class="block"><span class="title">Network</span> <span class="value">{{rechargeObj.networkName | checkNull}}</span></div>
                    <div class="block"><span class="title">Amount</span> <span class="value">NGN {{rechargeObj.amount | currency | moneyFormatter | checkNull}}</span></div>
                  </div>

                  <div class="inner-content-area-bottom">
                    <small>You have <strong [ngClass]="{'text-success': wallet.walletCommissionBalance >= amount, 'text-danger': wallet.walletCommissionBalance < amount}">NGN {{wallet.walletCommissionBalance | currency | moneyFormatter}}</strong> in your commission wallet</small>
                    <div class="toggle-btn">
                      <mat-slide-toggle [labelPosition]="'before'" [checked]="isCommissionWallet" (change)="toggleWallet()" [disabled]="wallet.walletCommissionBalance < amount" style="font-weight:700;">Use commission wallet</mat-slide-toggle>
                    </div>
                  </div>

                  <button md-raised-button type="button" color="" (click)="goToPage()" [disabled]="isRecharging"> Back </button>

                  <button md-raised-button type="button" (click)="confirmRecharge()" [disabled]="isRecharging"  color="accent">{{!isRecharging?'Confirm':'Please wait'}}
                    <i *ngIf="isRecharging" class="fa fa-spinner fa-spin"></i>
                  </button>

                </div>
                <!--recharge verify block-->

                <!--recharge successful block-->
                <div class="widget-content-block success-recharge" *ngIf="switchState === 'recharge-success'"  [class.visible]="switchState === 'recharge-success'">
                  <h1 class="icon"><i class="fa fa-check-circle fa-2x"></i></h1>
                  <h5 style="margin:0;">Recharge Successful</h5>

                  <div class="inner-content-area">
                    <div class="block"><span class="title">MSISDN</span> <span class="value">{{rechargeResponse?.toMsisdn}}</span></div>
                    <div class="block"><span class="title">Network</span> <span class="value">{{getNetworkName(rechargeResponse.network)}}</span></div>
                    <div class="block"><span class="title">Transaction ID</span> <span class="value">{{rechargeResponse?.transactionId}}</span></div>
                    <div class="inline-block"><span class="title">Date / Time</span> <span class="value">{{rechargeResponse?.createdDate | date}}</span></div>
                    <div class="inline-block"><span class="title">Amount</span> <span class="value">NGN {{rechargeResponse?.amount | currency | moneyFormatter}}</span></div>
                    <div class="inline-block"><span class="title">Commission</span> <span class="value">NGN {{rechargeResponse?.commission | currency | moneyFormatter}}</span></div>
                  </div>

                  <button md-raised-button type="button" (click)="goToPage()"  color="accent"> New recharge<mat-spinner *ngIf="false" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

                </div>
                <!--recharge successful block-->

                <!--recharge failed block-->
                <div class="widget-content-block failed-recharge" *ngIf="switchState === 'recharge-failed'"  [class.visible]="switchState === 'recharge-failed'">
                  <h1 class="icon"><i class="fa fa-times-circle fa-2x"></i></h1>
                  <h5 style="margin:0;">Recharge Failed</h5>

                  <div class="inner-content-area">
                    <div class="block"><span class="title">Network</span> <span class="value">{{getNetworkName(rechargeResponse.network)}}</span></div>
                    <div class="inline-block"><span class="title">Transaction ID</span> <span class="value">{{rechargeResponse?.transactionId}}</span></div>
                    <div class="inline-block"><span class="title">Date / Time</span><span class="value">{{rechargeResponse?.createdDate| date}}, {{rechargeResponse.createdDate | date : 'shortTime'}}</span></div>
                    <div class="inline-block"><span class="title">Amount</span> <span class="value">NGN {{rechargeResponse?.amount | currency | moneyFormatter}}</span></div>
                    <div class="inline-block"><span class="title">Commission</span> <span class="value">NGN {{rechargeResponse?.commission | currency | moneyFormatter}}</span></div>
                  </div>

                  <button md-raised-button type="button" (click)="goToPage()"  color="accent"> New recharge<mat-spinner *ngIf="false" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

                </div>
                <!--recharge failed block-->

                <!--recharge pending block-->
                <div class="widget-content-block pending-recharge" *ngIf="switchState === 'recharge-pending'"  [class.visible]="switchState === 'recharge-pending'">
                  <h1 class="icon"><i class="fa fa-hourglass-half fa-2x"></i></h1>
                  <h5 style="margin:0;">Recharge Pending</h5>
                  <p> Kindly contact the administrator</p>

                  <div class="inner-content-area">
                    <div class="block"><span class="title">Network</span> <span class="value">{{getNetworkName(rechargeResponse.network)}}</span></div>
                    <div class="inline-block"><span class="title">Transaction ID</span> <span class="value">{{rechargeResponse.transactionId}}</span></div>
                    <div class="inline-block"><span class="title">Date / Time</span><span class="value">{{rechargeResponse.createdDate| date}}, {{rechargeResponse.createdDate | date : 'shortTime'}}</span></div>
                    <div class="inline-block"><span class="title">Amount</span> <span class="value">NGN {{rechargeResponse.amount | currency | moneyFormatter}}</span></div>
                    <div class="inline-block"><span class="title">Commission</span> <span class="value">NGN {{rechargeResponse.commission | currency | moneyFormatter}}</span></div>
                  </div>

                  <button md-raised-button type="button" (click)="goToPage()"  color="accent"> New recharge<mat-spinner *ngIf="false" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

                </div>
                <!--recharge pending block-->

                <!--failed block-->
                <div class="widget-content-block"  [class.visible]="switchState === 'error'">
                  <h1 class="icon"><i class="fa fa-times-circle fa-2x"></i></h1>
                  <h5 style="margin:0;">OOPs something went wrong</h5>

                  <button md-raised-button type="button" (click)="goToPage()"  color="accent"> New recharge<mat-spinner *ngIf="false" style="width: 35px; height: 35px; position: absolute; right: 20px; top: 7px;"></mat-spinner></button>

                </div>
                <!--failed block-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Bulk Recharge">
      <div class="content-area">
        <div class="container">
          <div class="row mt-5 mb-5">
            <div class="col-xl-2">

            </div>
            <div class="col-xl-8">
              <div class="widget-content">

                <!--recharge block -->
                <div *ngIf="!requestSuccessful">
                    <form #bulkForm (ngSubmit)="onSubmitFIle()" class="card" id="file" method="post" enctype="multipart/form-data">
                      <div class="md-container">
                        <h5>Upload Excel  <a download href="assets/sample_bulk_airtime_recharge.xlsx" style="font-size: 14px;"> [ Download Sample Excel ] </a></h5>
                        <div class="divider"></div>
                        <div class="form-inline">
                          <label class="sr-only" for="excel">Upload Excel File</label>

                          <input accept=".csv" type="file" id="excel" required (ngModel)="excel" [disabled]="isloading" [ngModelOptions]="{standalone: true}" #excel value="">

                        </div>

                      </div>
                      <button [disabled]="isloading" md-raised-button class="mt-4" type="submit" color="accent">Pay <i *ngIf="isloading" style="color:#fff; font-size:15px;" class="fa fa-spinner fa-spin"></i></button>
                    </form>
                </div>
                <!--recharge block-->

                <!--failed block-->
                <div *ngIf="requestSuccessful">
                    <div class="success_container">
                      <img src="assets/img/success-spark.png" alt="success" />
                      <h5>Request was sent Successfully</h5>
                      <p>You would recieve a mail shortly with a detailed report of your requested transactions</p>
                      <button [disabled]="" (click)="newTransaction()" md-raised-button >New Transaction</button>
                    </div>
                </div>
                <!--failed block-->
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>

</div>
