@import '../../../../../../../assets/sass/variable';

.package-card{
  margin-top:30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  padding: 0;
  color:#444;
  background-color: #fff;
  position:relative;
  header{
    //background: #0374df;
    background-color: $accent-color;
    //border-bottom:2px solid #ccc;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    //color: #fff;
    -webkit-box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.29);
    box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.29);
    display: block;
    z-index:2;
    //margin: -1px -1px 0 -1px;
    padding: 0.7857143rem 1.5714286rem;
    position: relative;
    .back-btn{
      cursor:pointer;
      margin-right:20px;
      color:#fff;
      span{
        font-size:0.8em;
        font-weight:300;
        padding-left:5px;
        text-transform: capitalize;
      }
    }
  }

  .loader{
    width: 100%;
    position:absolute;
    background-color: rgba(255,255,255,.9);
    height:100%;
    z-index: 999;
    .icon-loader{
      position:absolute;
      animation:loader-animation 1.5s linear;
      font-size: 50px;
      top:calc(50% - 50px);
      left:calc(50% - 50px);
      animation-iteration-count: infinite;
    }
  }

  .content-area{
    background-color:#fff;
    min-height: 200px;
    padding: 0.7857143rem 1.5714286rem;
    .widget-content{
      border-top:4px solid $accent-color;
      background-color: #fff;
      padding:30px 20px;
      min-height:350px;
      box-shadow:
        0 4px 8px 0 rgba(0,0,0,0.12),
        0 2px 4px 0 rgba(0,0,0,0.08);
      .widget-content-block{
        display:none;
        .inner-content-area{
          margin:20px 0;
          .block{
            .title, .value{
              display:inline-block;
              text-align:left;
            }
            .title{
              width:30%;

            }
            .value{
              width:60%;
              font-weight:700;
            }
          }
        }
        .inner-content-area-bottom{
          position:relative;
          margin-bottom:20px;
          padding:5px;
          background-color: #ededed;
          .toggle-btn{
            font-weight: 700;
          }
        }
      }
      .visible{
        display:block !important;
      }
      .success-recharge, .failed-recharge, .pending-recharge{
        text-align:center;
        .icon{
          i{
            font-size:7rem;
          }
          margin:10px 0px;
        }
        h5{
          color:#3fa043;
        }
        .inner-content-area{
          margin:20px 0;
          .block, .inline-block{
            margin-bottom:5px;
            .title, .value{
              display:inline-block;
              text-align:center;
              width:100%;
            }
            .title{
              color:$dark-grey;
            }
            .value{
              font-weight:700;
            }
          }
          .inline-block{
            width:45%;
            display:inline-block;
          }
        }
        .inner-content-area-bottom{
          position:relative;
          margin-bottom:20px;
          padding:5px;
          background-color: #ededed;
          .toggle-btn{
            font-weight: 700;
          }
        }
      }
      .success-recharge {
        .icon {
          i { color: #3fa043; }
        }
        h5{ color:#3fa043; }
      }
      .failed-recharge {
        .icon {
          i { color: #ff594f;  }
        }
        h5{ color:#ff594f; }
      }
      .pending-recharge{
        .icon {
          i { color: #df9808;  }
        }
        h5{ color: #df9808; }
      }
      .verify-recharge{
        //text-align:center;
      }
    }
  }

  .background{
    height: 120px;
  }


  @media #{$max767} {
    margin-bottom: 20px;
  }

}


.errorText{
  position: absolute;
  padding-top: 10px;
  font-size: .8em;
  color: #f44336;
}
