<div class="widget-content">
  <span *ngIf="isLoadingServices" class="d-block loading" style="color:#777;">
    Loading Services </span>
  <mat-form-field class="col-12 m-md-1">
    <mat-select [disabled]="isLoadingServices" placeholder="Select Category" required
               [(ngModel)]="category" style="width:100%;" (ngModelChange)="setServices(category)">
      <mat-option *ngFor="let category of serviceCategories" [value]="category">
          {{category.categoryName | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-12 m-md-1">
    <mat-select [disabled]="!services" placeholder="Select Service" required
               [(ngModel)]="service" style="width:100%;" (ngModelChange)="selectServices(service)">
      <mat-option *ngFor="let service of services" [value]="service">
        {{sharedService.prettifyString(service.serviceName) | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-12 m-md-1" *ngIf="service && service.servicePackages && service.servicePackages.length">
    <mat-select placeholder="Select Service Package" required
                [(ngModel)]="servicePackage" style="width:100%;" (ngModelChange)="prepareServiceForm()">
      <mat-option *ngFor="let p of service.servicePackages" [value]="p">
        {{sharedService.prettifyString(p.name) | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-dynamic-form *ngIf="fields" [isLoading]="isLoading" [form]="form" [fields]="fields" [package]="servicePackage" (submitData)="submitServiceData($event)"></app-dynamic-form>

</div>
